:root {
  --appgrey: #D6DBD2;
  --appwhite: #F2F5EA;
  --apporange: #EE6C4D;
  --appgreen: #BBC7A4;
  --appblack: #2C363F;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--appgreen);
}

/* Text */

.heading {
  text-transform: uppercase;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--appblack);
  z-index: 1;
  text-align: center;
}
@media (max-width: 800px) {
  .heading {
    font-size: 35px;
  }
}

/* Adjustment Classes */

.mt-3 {
  margin-top: 3vh;
}
@media (max-width: 800px) {
  .mt-3 {
    margin-top: 1.5vh;
  }
}


